@import "tailwindcss";

@keyframes scan {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(400%);
  }
}

.scanner {
  width: 30%;
  height: 100%;
  animation: scan 2s linear infinite;
}